{% extends '@WHBackendTemplate/BackendTemplate/Layout/layout.html.twig' %}

{% block body %}

    <div class="card">

        <div class="card-header">

            <table>
                <tbody>
                <tr>
                    <td>
                        <h2>Liste des commandes</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card-body">

            <table class="wh-table table table-striped">

                <thead>
                <tr>
                    <th></th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody>
                {% for commandSlug, command in commands %}
                    <tr>
                        <td>
                            <ul class="wh-list-buttons">
                                <li>
                                    <a href="{{ path('sudo_wh_superadmin_command_execute', {'commandSlug' : commandSlug}) }}"
                                       class="btn btn-primary btn-xs">
                                        <i class="fa fa-rocket"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td>{{ command.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

{% endblock %}
